.categ-search {
    text-align: center;
    padding-bottom: 50px;
}

.categ-search .categ-heading {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.categ-search label {
    font-family: 'Montserrat', sans-serif;
}

.categ-search .categs-list {
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #777
}