.render-categs .heading-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.render-categs .categs-heading {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
}

.render-categs .show-toggle {
  padding: 5px;
  flex-basis: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #555;
}

.render-categs ul {
  list-style-type: none;
}

.render-categs .categories-container {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.render-categs .categories-container .categ-item {
  display: flex;
  flex-basis: 30%;
  text-align: center;
}
